/**
 * Copyright © element119. All rights reserved.
 * See LICENCE.txt for licence details.
 */
/* Before Section Grid */
#misc-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

/* Generic Section Grid Styles */
section {
    padding: 2rem 0;
}

h2 {
    font-weight: bold;
    padding-bottom: 1rem;
}

.data-list {
    list-style-type: none;
}

h2,
.data-list {
    margin: 0;
}

/* Specific Section Grid Styles */
/* Databases */
#databases .database-wrapper {
    display: flex;
    flex-direction: column;
}

#databases .database-info {
    border: 2px solid #000000;
    border-radius: 2rem;
    display: flex;
    margin-bottom: 3rem;
    padding: 2rem;
}

.database-info .database-data {
    min-width: 30rem;
}

#databases li {
    padding-left: 2rem;
}

.database-charts {
    display: flex;
    flex-direction: column;
}

.database-chart {
    padding-bottom: 5rem;
}
