/**
 * Copyright © element119. All rights reserved.
 * See LICENCE.txt for licence details.
 */
/* Before Section Grid */
#misc-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

/* Generic Section Grid Styles */
#redis-sections {
    display: flex;
    flex-wrap: wrap;
}

section {
    padding-bottom: 2rem;
    padding-top: 2rem;
    width: 50%;
}

section:nth-child(odd) {
    padding-right: 1.5rem;
}

section:nth-child(even) {
    padding-left: 1.5rem;
}

h2 {
    font-weight: bold;
    padding-bottom: 1rem;
}

.data-list {
    list-style-type: none;
}

h2,
.data-list {
    margin: 0;
}

/* Specific Section Grid Styles */
/* Databases */
#databases .database-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#databases .database-info {
    margin-bottom: 2rem;
}

#databases li {
    padding-left: 2rem;
}
