<?xml version="1.0"?>
<!--
/**
 * Copyright © element119. All rights reserved.
 * See LICENCE.txt for licence details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <system>
            <redis_report>
                <cron_enable>1</cron_enable>
                <log_truncate_days>180</log_truncate_days>
            </redis_report>
        </system>
    </default>
</config>
