<?xml version="1.0"?>
<!--
/**
 * Copyright © element119. All rights reserved.
 * See LICENCE.txt for licence details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Concrete Interface Implementations -->
    <preference for="Element119\AdminRedisReport\Api\Data\RedisReportInterface"
                type="Element119\AdminRedisReport\Model\RedisReport"/>
    <preference for="Element119\AdminRedisReport\Api\Data\RedisReportSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults"/>
    <preference for="Element119\AdminRedisReport\Api\RedisReportRepositoryInterface"
                type="Element119\AdminRedisReport\Model\RedisReportRepository"/>
</config>
