<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © element119. All rights reserved.
 * See LICENCE.txt for licence details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Element119_AdminRedisReport::view"
             title="Redis Report"
             action="redis_report/index"
             translate="title"
             module="Element119_AdminRedisReport"
             sortOrder="1000"
             parent="Magento_Backend::system_tools"
             resource="Element119_AdminRedisReport::view"/>
    </menu>
</config>
